<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    <main style="flex: 1;">
        <div class="cont-titulodetalle">
            <h2 class="titulo-detalle"><%= miModelo.titulo%></h2>
        </div>
        <div class="cont-grande">
            <div class="cont-1">
                <div class="inner-foto">
                    <img src="/img/<%= miModelo.imagen%>" alt="">
                </div>
            </div>
            <div class="cont-2">
                <div class="inner-precio">
                    <h2 class="precio">$<%= miModelo.precio%></h3>
                </div>
                <div class="inner-desc">
                    <div class="marca" style="display: flex; justify-content: center; align-items: baseline;">
                        <h3 style="font-weight: 800; padding-right: 5px;">Marca:</h3>
                        <h3><%= miModelo.marca%></h3>
                    </div>
                    <div class="km" style="display: flex; justify-content: center; align-items: baseline;">
                        <h3 style="font-weight: 800; padding-right: 5px;">Kilometros:</h3>
                        <h3><%= miModelo.kilometraje%></h3>
                    </div>
                    <div class="transm" style="display: flex; justify-content: center; align-items: baseline;">
                        <h3 style="font-weight: 800; padding-right: 5px;">Transmisión:</h3>
                        <h3><%= miModelo.transmision%></h3>
                    </div>
                    <div class="comb" style="display: flex; justify-content: center; align-items: baseline;">
                        <h3 style="font-weight: 800; padding-right: 5px;">Combustible:</h3>
                        <h3><%= miModelo.combustible%></h3>
                    </div>
                    <div class="color" style="display: flex; justify-content: center; align-items: baseline;">
                        <h3 style="font-weight: 800; padding-right: 5px;">Color:</h3>
                        <h3><%= miModelo.color%></h3>
                    </div>
                    <div class="estado" style="display: flex; justify-content: center; align-items: baseline;">
                        <h3 style="font-weight: 800; padding-right: 5px;">Condición:</h3>
                        <h3><%= miModelo.condicion.nombre %></h3>
                      </div>
                      <div class="cat" style="display: flex; justify-content: center; align-items: baseline;">
                        <h3 style="font-weight: 800; padding-right: 5px;">Categoría:</h3>
                        <h3><%= miModelo.categoria.nombre %></h3>
                      </div>                      
                </div>
                <div class="inner-botones">
                    <button class="btn" type="submit">Reservar</button>
                    <button class="btn" type="submit" style="margin-top: 7px;">Agendar visita</button>
                </div>
            </div>
        </div>
    </main>
    <%- include("../partials/footer.ejs") %>
    <script src="../../app.js"></script>
</body>
</html>