<!DOCTYPE html>
<html lang="es">
    <%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    <main style="display: flex; justify-content: center; margin: 1vw 0; align-items: center; flex-direction: column;">
        <div class="titulo-destacados">
            <h2 class="titulodestacados">Editar publicación #<%= editModelo.id%></h2>
        </div>
        <form method="post" class="formulario" action="/admin/edit/<%= editModelo.id%>?_method=PUT" enctype="multipart/form-data">
            <div class="form-group textarea-group">
                <label for="titulopubli">Titulo:</label>
                <input type="text" id="titulopubli" name="titulo" value="<%= editModelo.titulo%>" required>
            </div>

            <div class="form-group textarea-group">
                <label for="marcapubli">Marca:</label>
                <input type="text" id="marcapubli" name="marca" value="<%= editModelo.marca%>" required>
            </div>

            <div class="form-group textarea-group">
                <label for="kilometraje">Kilometros:</label>
                <input type="number" id="kilometraje" name="kilometraje" value="<%= editModelo.kilometraje%>" required>
            </div>

            <div class="form-group textarea-group">
                <label for="colorpubli">Color:</label>
                <input type="text" id="colorpubli" name="color" value="<%= editModelo.color%>" required>
            </div>

            <div class="form-group textarea-group">
                <label for="combustiblepubli">Combustible:</label>
                <input type="text" id="combustiblepubli" name="combustible" value="<%= editModelo.combustible%>" required>
            </div>

            <div class="form-group textarea-group">
                <label for="transmpubli">Transmisión:</label>
                <input type="text" id="transmpubli" name="transmision" value="<%= editModelo.transmision%>" required>
            </div>

            <div class="form-group textarea-group">
                <label for="precioubli">Precio:</label>
                <input type="number" id="preciopubli" name="precio" value="<%= editModelo.precio%>" required>
            </div>

            <div class="form-group textarea-group">
                <label for="stockpubli">Stock:</label>
                <input type="number" id="stockpubli" name="stock" value="<%= editModelo.stock%>" required>
            </div>
            
            <div class="form-group textarea-group">
                <select id="categpubli" name="categoria" required>
                    <option value="" disabled selected>Tipo de vehículo</option>
                    <option value="Auto" <%= editModelo.categoria == 'Auto' ? 'selected' : '' %>>Autos</option>
                    <option value="Moto" <%= editModelo.categoria == 'Moto' ? 'selected' : '' %>>Motos</option>
                    <option value="Utilitario" <%= editModelo.categoria == 'Utilitario' ? 'selected' : '' %>>Vehículos utilitarios</option>
                </select>
            </div>

            <div class="form-group textarea-group">
                <select id="condicpubli" name="condicion" required>
                    <option value="" disabled selected>Condición</option>
                    <option value="Nuevo" <%= editModelo.condicion == 'Nuevo' ? 'selected' : '' %>>Nuevos</option>
                    <option value="Usado" <%= editModelo.condicion == 'Usado' ? 'selected' : '' %>>Usados</option>
                </select>
            </div>

            <div class="form-group textarea-group">
                <input type="hidden"  name="oldImagen"  value="<%= editModelo.imagen%>">
                <label for="imagen">Imagenes:</label>
                <input type="file" id="imagen" name="imagen" placeholder="Subir archivo" accept="image/*" required>
            </div>
            
            <div class="form-group">
                <button class="btn" type="submit">Guardar</button>
                <button class="btn" type="button" style="margin-top: 7px;" onclick="window.location.href='/'">Volver</button>
            </div>
        </form>
    </main>
    <script src="../../app.js"></script>
</body>
</html>