<!DOCTYPE html>
<html lang="es">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>
    <main>
        <section class="carrousel">
            <div class="cont-carrousel">
                <img src="/img/autos.jpg" alt="">
                <h3 class="btnconoce" href="">Tu vehículo soñado está en AutoNet</h3>
            </div>
        </section>
        <section class="publidestacados">
            <div class="titulo-destacados">
                <h2 class="titulodestacados">Vehículos Destacados</h2>
            </div>
            <div class="container-card">
                <% destacados.forEach(modelo => { %>
                    <div class="card">
                        <img src="/img/<%= modelo.imagen %>" style="width:100%">
                        <h2><%= modelo.titulo %></h2>
                        <h3 class="price" style="font-weight: 100; font-size: 20px;">
                            $<%= Number(modelo.precio).toLocaleString('es-AR') %>
                        </h3>
                        <p><%= Number(modelo.kilometraje).toLocaleString('es-AR') %> km</p>
                        <p>
                            <button onclick="window.location.href='/products/detalle/<%= modelo.id %>'">
                                Ver más
                            </button>
                        </p>
                    </div>                    
                <% }) %>                
            </div>
        </section>
        <section class="publicaciones">
            <div class="titulo-publicaciones">
                <h2 class="titulodestacados">Todas las publicaciones</h2>
            </div>
            <div class="cont-busqueda">
                <div class="inner-barra">
                    <input class="busqueda" type="text" placeholder="Buscar...">
                </div>
                <div class="inner-filtros">
                    <select name="ordenar" id="ordenar">
                        <option value="relevante">Más relevantes</option>
                        <option value="menor">Menor precio</option>
                        <option value="mayor">Mayor precio</option>
                    </select>
                    <select name="filtro1" id="filtro1">
                        <option value="" disabled selected>Tipo de vehículo</option>
                        <option value="auto">Autos</option>
                        <option value="moto">Motos</option>
                        <option value="utilitario">Vehículos utilitarios</option>
                    </select>
                    <select name="filtro2" id="filtro2">
                        <option value="" disabled selected>Condición</option>
                        <option value="nuevo">Nuevos</option>
                        <option value="usado">Usados</option>
                    </select>
                </div>
            </div>
            <div class="container-card">
                <% todos.forEach(modelo => { %>
                    <div class="card">
                        <img src="/img/<%= modelo.imagen %>" style="width:100%">
                        <h2><%= modelo.titulo %></h2>
                        <h3 class="price" style="font-weight: 100; font-size: 20px;">
                            $<%= Number(modelo.precio).toLocaleString('es-AR') %>
                        </h3>
                        <p><%= Number(modelo.kilometraje).toLocaleString('es-AR') %> km</p>
                        <p>
                            <button onclick="window.location.href='/products/detalle/<%= modelo.id %>'">
                                Ver más
                            </button>
                        </p>
                    </div>
                <% }) %>
            </div>            
            <div class="cont-nav">
                <div class="inner-nav">
                    <a href="" class="nav">1</a>
                    <a href="" class="nav">2</a>
                    <a href="" class="nav">3</a>
                    <a href="" class="nav">4</a>
                    <a href="" class="nav">5</a>
                    <a href="" class="nav">6</a>
                </div>
            </div>
        </section>
    </main>
    <%- include("./partials/footer.ejs") %>
    <script src="../app.js"></script>
</body>
</html>