<!DOCTYPE html>
<html lang="es">
    <%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    <main style="display: flex; justify-content: center; margin: 8vw 0; align-items: center; flex-direction: column;">    
        <div class="inner-titulo">
            <h2>Bienvenido de nuevo, <%= user.nombre %> <%= user.apellido %>!</h2>
        </div>
        <div class="inner-avatar">
            <img src="/img/users/<%= user.foto %>" alt="">
        </div>
        <div class="form-group" style="padding-top: 3vw;">
            <button class="btn" type="submit" onclick="window.location.href='/users/edit'">Editar perfil</button>
        </div>
    </main>
    <script src="../../app.js"></script>
</body>
</html>